{
  "openapi": "3.0.3",
  "info": {
    "title": "Golf Genius API v2",
    "description": "Golf Genius API documentation providing programmatic access to Golf Genius data.\n\n## General Considerations\n- IDs returned by the Golf Genius API need to be treated as Numeric 22 or String\n- An API Key is required to access the API\n\n## Getting Started\nContact Golf Genius Support if you are a Golf Genius user or a third-party provider to users of Golf Genius\n\n## Authentication\nThe API supports two authentication methods:\n1. **URL Path Parameter**: `{api_key}` embedded in the URL path for read operations\n2. **Bearer Token**: `Authorization: Bearer {api_key}` header for write operations\n",
    "version": "2.0.0",
    "contact": {
      "name": "Golf Genius Support",
      "url": "https://www.golfgenius.com"
    }
  },
  "servers": [
    {
      "url": "https://www.golfgenius.com",
      "description": "Production server"
    }
  ],
  "tags": [
    {
      "name": "Seasons",
      "description": "Season management"
    },
    {
      "name": "Categories",
      "description": "Category management"
    },
    {
      "name": "Directories",
      "description": "Directory management"
    },
    {
      "name": "Master Roster",
      "description": "Master roster management"
    },
    {
      "name": "Players",
      "description": "Player information"
    },
    {
      "name": "Events",
      "description": "Event management"
    },
    {
      "name": "Rounds",
      "description": "Round management"
    },
    {
      "name": "Divisions",
      "description": "Division management"
    },
    {
      "name": "Tournaments",
      "description": "Tournament results"
    },
    {
      "name": "Courses",
      "description": "Course and tee information"
    },
    {
      "name": "Points",
      "description": "Points summaries"
    },
    {
      "name": "UK Handicaps",
      "description": "UK Handicap system"
    },
    {
      "name": "Season Points",
      "description": "Season points categories"
    },
    {
      "name": "Pairing Groups",
      "description": "Pairing group (tee sheet) management"
    },
    {
      "name": "Members",
      "description": "Event roster member management"
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKeyPath": {
        "type": "apiKey",
        "in": "path",
        "name": "api_key",
        "description": "API Key embedded in URL path for read operations"
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token for write operations"
      }
    },
    "parameters": {
      "apiKey": {
        "name": "api_key",
        "in": "path",
        "required": true,
        "description": "An API Key defined at customer level",
        "schema": {
          "type": "string"
        }
      },
      "eventId": {
        "name": "event_id",
        "in": "path",
        "required": true,
        "description": "The ID of the event (numeric 22)",
        "schema": {
          "type": "string"
        }
      },
      "roundId": {
        "name": "round_id",
        "in": "path",
        "required": true,
        "description": "The ID of the round (numeric 22)",
        "schema": {
          "type": "string"
        }
      },
      "tournamentId": {
        "name": "tournament_id",
        "in": "path",
        "required": true,
        "description": "The ID of the tournament (numeric 22)",
        "schema": {
          "type": "string"
        }
      },
      "courseId": {
        "name": "course_id",
        "in": "path",
        "required": true,
        "description": "The ID of the course (numeric 22)",
        "schema": {
          "type": "string"
        }
      },
      "divisionId": {
        "name": "division_id",
        "in": "path",
        "required": true,
        "description": "The ID of the division (numeric 22)",
        "schema": {
          "type": "string"
        }
      },
      "memberId": {
        "name": "member_id",
        "in": "path",
        "required": true,
        "description": "The ID of the member (numeric 22)",
        "schema": {
          "type": "string"
        }
      },
      "pairingGroupId": {
        "name": "pairing_group_id",
        "in": "path",
        "required": true,
        "description": "The ID of the pairing group (numeric 22)",
        "schema": {
          "type": "string"
        }
      },
      "page": {
        "name": "page",
        "in": "query",
        "description": "Page number for paginated results",
        "schema": {
          "type": "integer"
        }
      },
      "photo": {
        "name": "photo",
        "in": "query",
        "description": "Include golfer profile pictures if true",
        "schema": {
          "type": "boolean",
          "default": false
        }
      }
    },
    "schemas": {
      "Season": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "2794531013441653799"
          },
          "name": {
            "type": "string",
            "example": "2018"
          },
          "current": {
            "type": "boolean",
            "example": true
          }
        }
      },
      "Category": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "2794531013441653801"
          },
          "name": {
            "type": "string",
            "example": "2017 Member Play Days"
          },
          "archived": {
            "type": "boolean",
            "example": false
          },
          "color": {
            "type": "string",
            "description": "Hexadecimal color code",
            "example": "#ff08dc"
          },
          "event_count": {
            "type": "integer",
            "example": 1
          }
        }
      },
      "Directory": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "2794531013441653803"
          },
          "name": {
            "type": "string",
            "example": "All Leagues & Events"
          },
          "all_events": {
            "type": "boolean",
            "example": true
          },
          "event_count": {
            "type": "integer",
            "example": 120
          }
        }
      },
      "Handicap": {
        "type": "object",
        "properties": {
          "handicap_network_id": {
            "type": "string",
            "nullable": true
          },
          "handicap_index": {
            "type": "string"
          },
          "nine_hole_handicap_index": {
            "type": "string"
          }
        }
      },
      "Member": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "event_id": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "last_name": {
            "type": "string"
          },
          "first_name": {
            "type": "string"
          },
          "deleted": {
            "type": "boolean"
          },
          "waitlist": {
            "type": "boolean"
          },
          "waitlist_type": {
            "type": "string"
          },
          "member_card_id": {
            "type": "string"
          },
          "external_id": {
            "type": "string",
            "nullable": true
          },
          "handicap": {
            "$ref": "#/components/schemas/Handicap"
          },
          "custom_fields": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "Event": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "deleted": {
            "type": "boolean"
          },
          "ggid": {
            "type": "string"
          },
          "season": {
            "$ref": "#/components/schemas/Season"
          },
          "category": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              },
              "id_str": {
                "type": "string"
              }
            }
          },
          "directories": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "directory": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "registration_status": {
            "type": "string",
            "enum": [
              "invitation_list",
              "open",
              "closed"
            ]
          },
          "registration_limit": {
            "type": "object",
            "properties": {
              "player_limit": {
                "type": "integer"
              },
              "waitlist_limit": {
                "type": "integer"
              }
            }
          },
          "opening_dates": {
            "type": "object",
            "properties": {
              "open_for_everyone": {
                "type": "string",
                "format": "date"
              },
              "close_for_everyone": {
                "type": "string",
                "format": "date"
              },
              "open_for_invitation_list": {
                "type": "string",
                "format": "date"
              }
            }
          },
          "start_date": {
            "type": "string",
            "format": "date"
          },
          "end_date": {
            "type": "string",
            "format": "date"
          },
          "type": {
            "type": "string",
            "enum": [
              "event",
              "league",
              "trip",
              "dcp"
            ]
          },
          "website": {
            "type": "string"
          },
          "external_id": {
            "type": "string"
          },
          "location": {
            "type": "object",
            "properties": {
              "city": {
                "type": "string"
              },
              "state": {
                "type": "string"
              },
              "country": {
                "type": "string"
              }
            }
          },
          "description": {
            "type": "string"
          }
        }
      },
      "Round": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "event_id": {
            "type": "string"
          },
          "index": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "status": {
            "type": "string",
            "enum": [
              "not started",
              "in progress",
              "completed"
            ]
          },
          "pairing_group_size": {
            "type": "integer",
            "enum": [
              2,
              3,
              4,
              5,
              6
            ]
          },
          "most_recent": {
            "type": "boolean"
          },
          "type": {
            "type": "string",
            "enum": [
              "golf",
              "social"
            ]
          },
          "playing_divisions": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "external_id": {
            "type": "string"
          },
          "settings": {
            "type": "object",
            "properties": {
              "allow_handicap_updates": {
                "type": "boolean"
              },
              "mobile_score_entry_enabled": {
                "type": "boolean"
              },
              "attending_by_default": {
                "type": "boolean"
              },
              "teesheet_released": {
                "type": "boolean"
              },
              "results_released": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "HoleData": {
        "type": "object",
        "properties": {
          "par": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "yardage": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "handicap": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          }
        }
      },
      "SlopeAndRating": {
        "type": "object",
        "properties": {
          "all18": {
            "type": "object",
            "properties": {
              "rating": {
                "type": "number"
              },
              "slope": {
                "type": "integer"
              }
            }
          },
          "front9": {
            "type": "object",
            "properties": {
              "rating": {
                "type": "number"
              },
              "slope": {
                "type": "integer"
              }
            }
          },
          "back9": {
            "type": "object",
            "properties": {
              "rating": {
                "type": "number"
              },
              "slope": {
                "type": "integer"
              }
            }
          }
        }
      },
      "Tee": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "abbreviation": {
            "type": "string"
          },
          "hole_data": {
            "$ref": "#/components/schemas/HoleData"
          },
          "nine_hole_course": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          },
          "color": {
            "type": "string"
          },
          "source_id": {
            "type": "string"
          },
          "slope_and_rating": {
            "$ref": "#/components/schemas/SlopeAndRating"
          }
        }
      },
      "Course": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          },
          "default_tee_time_interval": {
            "type": "integer"
          },
          "shotgun_offset": {
            "type": "integer"
          },
          "hole_labels": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "abbreviation": {
            "type": "string"
          },
          "shotgun_priority": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "tees": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tee"
            }
          },
          "source_id": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "pace_of_play": {
            "type": "object",
            "properties": {
              "hole_by_hole_expected_minutes": {
                "type": "array",
                "items": {
                  "type": "integer"
                }
              },
              "turn_times": {
                "type": "object"
              }
            }
          },
          "default_tee_by_gender": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "location": {
            "type": "object",
            "properties": {
              "country": {
                "type": "string"
              },
              "state": {
                "type": "string"
              },
              "city": {
                "type": "string"
              },
              "address": {
                "type": "string"
              }
            }
          }
        }
      },
      "Tournament": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          },
          "scored_at": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "score_format": {
            "type": "string",
            "enum": [
              "stableford",
              "stroke"
            ]
          },
          "handicap_format": {
            "type": "string",
            "enum": [
              "usga_net",
              "gross"
            ]
          },
          "holes_scope": {
            "type": "string"
          },
          "score_scope": {
            "type": "string"
          },
          "result_scope": {
            "type": "string",
            "enum": [
              "rs_field",
              "rs_flight"
            ]
          },
          "score_aggregation": {
            "type": "string"
          },
          "tie_break": {
            "type": "string"
          }
        }
      },
      "Division": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "id_str": {
            "type": "string"
          },
          "event_id": {
            "type": "string"
          },
          "event_id_str": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "position": {
            "type": "integer"
          },
          "tee_times": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TeeTime"
            }
          }
        }
      },
      "TeeTime": {
        "type": "object",
        "properties": {
          "time": {
            "type": "string",
            "description": "Time in format %I:%M %p (e.g., '8:10 AM')",
            "example": "8:10 AM"
          },
          "starting_hole": {
            "type": "integer",
            "example": 1
          },
          "starting_hole_label": {
            "type": "string",
            "example": "A"
          }
        }
      },
      "WebhookConfig": {
        "type": "object",
        "properties": {
          "endpoint": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          }
        }
      },
      "EventCreateRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "external_id": {
            "type": "string"
          },
          "event_type": {
            "type": "string",
            "enum": [
              "event",
              "league",
              "trip",
              "dcp"
            ],
            "default": "event"
          },
          "external_event_type": {
            "type": "string",
            "enum": [
              "regular",
              "by division",
              "all other"
            ],
            "default": "regular"
          },
          "category_id": {
            "type": "string"
          },
          "season_id": {
            "type": "string"
          },
          "divisions": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "tee_times": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TeeTime"
                  }
                }
              }
            }
          },
          "dates": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string",
                  "format": "date"
                },
                "name": {
                  "type": "string"
                },
                "external_id": {
                  "type": "string"
                },
                "enable_mobile_score_entry": {
                  "type": "boolean"
                },
                "attending_by_default": {
                  "type": "boolean"
                },
                "show_pairings_in_league_portal": {
                  "type": "boolean"
                },
                "playing_divisions": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "webhooks": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/WebhookConfig"
            }
          }
        }
      },
      "EventUpdateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "external_id": {
            "type": "string"
          },
          "external_event_type": {
            "type": "string",
            "enum": [
              "regular",
              "by division",
              "all other"
            ]
          },
          "category_id": {
            "type": "string"
          },
          "season_id": {
            "type": "string"
          },
          "webhooks": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/WebhookConfig"
            }
          }
        }
      },
      "EventDeleteRequest": {
        "type": "object",
        "properties": {
          "archive": {
            "type": "boolean",
            "default": false
          }
        }
      },
      "RoundCreateRequest": {
        "type": "object",
        "required": [
          "name",
          "date"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "external_id": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "enable_mobile_score_entry": {
            "type": "boolean",
            "default": false
          },
          "attending_by_default": {
            "type": "boolean",
            "default": false
          },
          "show_pairings_in_league_portal": {
            "type": "boolean",
            "default": false
          },
          "playing_divisions": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          }
        }
      },
      "RoundUpdateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "external_id": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "enable_mobile_score_entry": {
            "type": "boolean"
          },
          "attending_by_default": {
            "type": "boolean"
          },
          "show_pairings_in_league_portal": {
            "type": "boolean"
          },
          "playing_divisions": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          }
        }
      },
      "DivisionCreateRequest": {
        "type": "object",
        "required": [
          "name",
          "tee_times"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "position": {
            "type": "integer",
            "default": 0
          },
          "tee_times": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TeeTime"
            }
          }
        }
      },
      "DivisionUpdateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "position": {
            "type": "integer"
          },
          "tee_times": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TeeTime"
            }
          }
        }
      },
      "MemberRound": {
        "type": "object",
        "properties": {
          "round_id": {
            "type": "integer"
          },
          "team_id": {
            "type": "integer"
          },
          "division_id": {
            "type": "integer"
          }
        }
      },
      "MemberCreateRequest": {
        "type": "object",
        "required": [
          "external_id",
          "last_name",
          "rounds"
        ],
        "properties": {
          "external_id": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "first_name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "gender": {
            "type": "string",
            "enum": [
              "M",
              "F",
              "unknown"
            ]
          },
          "handicap_index": {
            "type": "number"
          },
          "handicap_network_id": {
            "type": "string"
          },
          "rounds": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MemberRound"
            }
          },
          "custom_fields": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "MemberUpdateRequest": {
        "type": "object",
        "properties": {
          "external_id": {
            "type": "string"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "gender": {
            "type": "string",
            "enum": [
              "M",
              "F",
              "unknown"
            ]
          },
          "handicap_index": {
            "type": "string"
          },
          "handicap_network_id": {
            "type": "string"
          },
          "rounds": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MemberRound"
            }
          },
          "custom_fields": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "PairingPlayer": {
        "type": "object",
        "properties": {
          "external_id": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "first_name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "gender": {
            "type": "string",
            "enum": [
              "M",
              "F",
              "unknown"
            ]
          },
          "handicap_index": {
            "type": "number"
          },
          "handicap_network_id": {
            "type": "string"
          },
          "player_state": {
            "type": "string",
            "enum": [
              "confirmed",
              "waitlisted",
              "invited",
              "not_attending"
            ]
          },
          "custom_fields": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "PairingTeeTime": {
        "type": "object",
        "properties": {
          "time": {
            "type": "string"
          },
          "starting_hole": {
            "type": "integer"
          },
          "starting_hole_label": {
            "type": "string"
          },
          "add_to_pairing": {
            "type": "boolean"
          }
        }
      },
      "PairingGroupCreateRequest": {
        "type": "object",
        "required": [
          "players"
        ],
        "properties": {
          "players": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/PairingPlayer"
            }
          },
          "tee_time": {
            "$ref": "#/components/schemas/PairingTeeTime"
          }
        }
      },
      "PairingGroupUpdateRequest": {
        "type": "object",
        "properties": {
          "players": {
            "type": "object",
            "additionalProperties": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/PairingPlayer"
                },
                {
                  "type": "object",
                  "properties": {
                    "member_id": {
                      "type": "integer"
                    }
                  }
                }
              ]
            }
          },
          "tee_time": {
            "$ref": "#/components/schemas/PairingTeeTime"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/api_v2/{api_key}/seasons": {
      "get": {
        "tags": [
          "Seasons"
        ],
        "summary": "List All Seasons",
        "description": "List all seasons that you have set up in the customer center. Each season includes the season ID, the name and whether that season is marked as current.",
        "operationId": "listSeasons",
        "parameters": [
          {
            "$ref": "#/components/parameters/apiKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "season": {
                        "$ref": "#/components/schemas/Season"
                      }
                    }
                  }
                },
                "example": [
                  {
                    "season": {
                      "id": "2794531013441653799",
                      "name": "2018",
                      "current": true
                    }
                  },
                  {
                    "season": {
                      "id": "2794531013441653800",
                      "name": "2017",
                      "current": false
                    }
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/api_v2/{api_key}/categories": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "List All Categories",
        "description": "List of all categories that have been set up in the customer center. Each category includes the category ID, the name, the color and the number of events associated with the category.",
        "operationId": "listCategories",
        "parameters": [
          {
            "$ref": "#/components/parameters/apiKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "category": {
                        "$ref": "#/components/schemas/Category"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api_v2/{api_key}/directories": {
      "get": {
        "tags": [
          "Directories"
        ],
        "summary": "List All Directories",
        "description": "List of all directories that have been set up in the customer's account.",
        "operationId": "listDirectories",
        "parameters": [
          {
            "$ref": "#/components/parameters/apiKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "directory": {
                        "$ref": "#/components/schemas/Directory"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api_v2/{api_key}/master_roster": {
      "get": {
        "tags": [
          "Master Roster"
        ],
        "summary": "List All Players in Master Roster",
        "description": "Returns the list of golfers in the master roster.",
        "operationId": "listMasterRoster",
        "parameters": [
          {
            "$ref": "#/components/parameters/apiKey"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/photo"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "member": {
                        "$ref": "#/components/schemas/Member"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api_v2/{api_key}/master_roster_member/{email}": {
      "get": {
        "tags": [
          "Master Roster"
        ],
        "summary": "Get Member by Email",
        "description": "Returns golfer by email from the master roster.",
        "operationId": "getMasterRosterMember",
        "parameters": [
          {
            "$ref": "#/components/parameters/apiKey"
          },
          {
            "name": "email",
            "in": "path",
            "required": true,
            "description": "The member's email",
            "schema": {
              "type": "string",
              "format": "email"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "member": {
                      "$ref": "#/components/schemas/Member"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api_v2/{api_key}/players/{player_id}": {
      "get": {
        "tags": [
          "Players"
        ],
        "summary": "List Player's Events",
        "description": "Returns the list containing events IDs along with corresponding player information.",
        "operationId": "getPlayerEvents",
        "parameters": [
          {
            "$ref": "#/components/parameters/apiKey"
          },
          {
            "name": "player_id",
            "in": "path",
            "required": true,
            "description": "The ID of the player from Master Roster",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "member": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Member"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "events": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api_v2/{api_key}/events": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "List All Events",
        "description": "List of events in the customer center. Results are paginated with 100 results per page.",
        "operationId": "listEvents",
        "parameters": [
          {
            "$ref": "#/components/parameters/apiKey"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "name": "season",
            "in": "query",
            "description": "Filter by season ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Filter by category ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "directory",
            "in": "query",
            "description": "Filter by directory ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "archived",
            "in": "query",
            "description": "Return only archived events if true",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "event": {
                        "$ref": "#/components/schemas/Event"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api_v2/{api_key}/events/{event_id}/roster": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "List All Players in an Event",
        "description": "List of golfers in a given event with all event-level data.",
        "operationId": "getEventRoster",
        "parameters": [
          {
            "$ref": "#/components/parameters/apiKey"
          },
          {
            "$ref": "#/components/parameters/eventId"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/photo"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "member": {
                        "$ref": "#/components/schemas/Member"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api_v2/{api_key}/events/{event_id}/rounds": {
      "get": {
        "tags": [
          "Rounds"
        ],
        "summary": "List All Event Rounds",
        "description": "List of rounds in a given event with settings and status.",
        "operationId": "listEventRounds",
        "parameters": [
          {
            "$ref": "#/components/parameters/apiKey"
          },
          {
            "$ref": "#/components/parameters/eventId"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "round": {
                        "$ref": "#/components/schemas/Round"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api_v2/{api_key}/events/{event_id}/courses": {
      "get": {
        "tags": [
          "Courses"
        ],
        "summary": "List Courses and Tees",
        "description": "For an event, return the list of selected courses with their corresponding tees.",
        "operationId": "listEventCourses",
        "parameters": [
          {
            "$ref": "#/components/parameters/apiKey"
          },
          {
            "$ref": "#/components/parameters/eventId"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "courses": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Course"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api_v2/{api_key}/events/{event_id}/rounds/{round_id}/tournaments": {
      "get": {
        "tags": [
          "Tournaments"
        ],
        "summary": "List Event Round Tournaments",
        "description": "For a round of an event, return the list of tournaments set up.",
        "operationId": "listRoundTournaments",
        "parameters": [
          {
            "$ref": "#/components/parameters/apiKey"
          },
          {
            "$ref": "#/components/parameters/eventId"
          },
          {
            "$ref": "#/components/parameters/roundId"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "event": {
                        "$ref": "#/components/schemas/Tournament"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api_v2/{api_key}/events/{event_id}/divisions": {
      "get": {
        "tags": [
          "Divisions"
        ],
        "summary": "List All Event Divisions",
        "description": "Returns the list of external divisions for this particular event.",
        "operationId": "listEventDivisions",
        "parameters": [
          {
            "$ref": "#/components/parameters/apiKey"
          },
          {
            "$ref": "#/components/parameters/eventId"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "division": {
                        "$ref": "#/components/schemas/Division"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api_v2/{api_key}/events/{event_id}/rounds/{round_id}/tee_sheet": {
      "get": {
        "tags": [
          "Pairing Groups"
        ],
        "summary": "Round Tee Sheet and Scores",
        "description": "Returns the tee sheet structure, players and their scores.",
        "operationId": "getRoundTeeSheet",
        "parameters": [
          {
            "$ref": "#/components/parameters/apiKey"
          },
          {
            "$ref": "#/components/parameters/eventId"
          },
          {
            "$ref": "#/components/parameters/roundId"
          },
          {
            "name": "include_all_custom_fields",
            "in": "query",
            "description": "Include all golfer custom fields if true",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "pairing_group": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api_v2/{api_key}/events/{event_id}/rounds/{round_id}/tournaments/{tournament_id}.{format}": {
      "get": {
        "tags": [
          "Tournaments"
        ],
        "summary": "Tournament Results",
        "description": "Returns tournament results in HTML or JSON format. HTML is strongly recommended.",
        "operationId": "getTournamentResults",
        "parameters": [
          {
            "$ref": "#/components/parameters/apiKey"
          },
          {
            "$ref": "#/components/parameters/eventId"
          },
          {
            "$ref": "#/components/parameters/roundId"
          },
          {
            "$ref": "#/components/parameters/tournamentId"
          },
          {
            "name": "format",
            "in": "path",
            "required": true,
            "description": "Response format",
            "schema": {
              "type": "string",
              "enum": [
                "html",
                "json"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/html": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v2tournaments/{tournament_id}.xml": {
      "get": {
        "tags": [
          "Tournaments"
        ],
        "summary": "Tournament Results XML",
        "description": "A general purpose XML file for any tournament format.",
        "operationId": "getTournamentResultsXml",
        "parameters": [
          {
            "$ref": "#/components/parameters/tournamentId"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v2tournaments/{tournament_id}/show_individual_gross.xml": {
      "get": {
        "tags": [
          "Tournaments"
        ],
        "summary": "Tournament Results Restricted XML",
        "description": "A restricted purpose XML file only valid for player v. field gross tournaments.",
        "operationId": "getTournamentResultsRestrictedXml",
        "parameters": [
          {
            "$ref": "#/components/parameters/tournamentId"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api_v2/{api_key}/events/{event_id}/rounds/{round_id}/player_points": {
      "get": {
        "tags": [
          "Points"
        ],
        "summary": "Player Points Summary",
        "description": "Returns total points for each awarded player, sorted by total points descending.",
        "operationId": "getPlayerPointsSummary",
        "parameters": [
          {
            "$ref": "#/components/parameters/apiKey"
          },
          {
            "$ref": "#/components/parameters/eventId"
          },
          {
            "$ref": "#/components/parameters/roundId"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "players": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "player_id": {
                            "type": "string"
                          },
                          "member_id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "round_points": {
                            "type": "string"
                          },
                          "total_points": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api_v2/{api_key}/events/{event_id}/rounds/{round_id}/team_points": {
      "get": {
        "tags": [
          "Points"
        ],
        "summary": "Team Points Summary",
        "description": "Returns total points for each awarded team, sorted by total points descending.",
        "operationId": "getTeamPointsSummary",
        "parameters": [
          {
            "$ref": "#/components/parameters/apiKey"
          },
          {
            "$ref": "#/components/parameters/eventId"
          },
          {
            "$ref": "#/components/parameters/roundId"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "teams": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "round_points": {
                            "type": "string"
                          },
                          "total_points": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api_v2/{api_key}/uk_handicaps/competitions": {
      "get": {
        "tags": [
          "UK Handicaps"
        ],
        "summary": "List UK Handicap Rounds",
        "description": "Returns all rounds for a specific customer.",
        "operationId": "listUkHandicapRounds",
        "parameters": [
          {
            "$ref": "#/components/parameters/apiKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "round": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "date": {
                            "type": "string",
                            "format": "date"
                          },
                          "holes": {
                            "type": "integer"
                          },
                          "ggid": {
                            "type": "string"
                          },
                          "competition": {
                            "type": "string"
                          },
                          "type_of_play": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api_v2/{api_key}/uk_handicaps/competitions/display": {
      "get": {
        "tags": [
          "UK Handicaps"
        ],
        "summary": "Get UK Handicap Round Data",
        "description": "Returns data required for handicapping purposes in the UK and Ireland.",
        "operationId": "getUkHandicapRoundData",
        "parameters": [
          {
            "$ref": "#/components/parameters/apiKey"
          },
          {
            "name": "id",
            "in": "query",
            "description": "The ID of the round",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "ggid",
            "in": "query",
            "description": "The GGID of the round",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api_v2/{api_key}/season_points/categories": {
      "get": {
        "tags": [
          "Season Points"
        ],
        "summary": "List Season Points Categories",
        "description": "Returns all currently unarchived season points categories.",
        "operationId": "listSeasonPointsCategories",
        "parameters": [
          {
            "$ref": "#/components/parameters/apiKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "category": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api_v2/{api_key}/season_points/categories/{category_id}": {
      "get": {
        "tags": [
          "Season Points"
        ],
        "summary": "List Season Points Category Players",
        "description": "Returns player data for a specific season points category.",
        "operationId": "getSeasonPointsCategoryPlayers",
        "parameters": [
          {
            "$ref": "#/components/parameters/apiKey"
          },
          {
            "name": "category_id",
            "in": "path",
            "required": true,
            "description": "The ID of the season point category",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "season_points": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "member_card_id": {
                            "type": "string"
                          },
                          "current_rank": {
                            "type": "string"
                          },
                          "previous_rank": {
                            "type": "string"
                          },
                          "number_of_events": {
                            "type": "integer"
                          },
                          "total_points": {
                            "type": "number"
                          },
                          "points_behind_leader": {
                            "type": "number"
                          },
                          "number_of_wins": {
                            "type": "integer"
                          },
                          "second_place_finishes": {
                            "type": "integer"
                          },
                          "third_place_finishes": {
                            "type": "integer"
                          },
                          "top_ten_finishes": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api_v2/{api_key}/events/{event_id}/courses/{course_id}/course_statistics": {
      "get": {
        "tags": [
          "Courses"
        ],
        "summary": "Course Statistics",
        "description": "Returns the contents of the \"Hole by Hole Course Statistics\" table.",
        "operationId": "getCourseStatistics",
        "parameters": [
          {
            "$ref": "#/components/parameters/apiKey"
          },
          {
            "$ref": "#/components/parameters/eventId"
          },
          {
            "$ref": "#/components/parameters/courseId"
          },
          {
            "name": "round_id",
            "in": "query",
            "description": "Filter by round ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tee_id",
            "in": "query",
            "description": "Filter by tee ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api_v2/events": {
      "post": {
        "tags": [
          "Events"
        ],
        "summary": "Create an Event/League",
        "description": "Creates a new event and returns it. Event is automatically linked based on parameters.",
        "operationId": "createEvent",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventCreateRequest"
              },
              "example": {
                "name": "API-Event-1",
                "external_id": "123",
                "event_type": "league",
                "external_event_type": "regular",
                "category_id": "4567",
                "season_id": "4555",
                "divisions": {
                  "1": {
                    "name": "Division Test",
                    "tee_times": [
                      {
                        "time": "8:10 AM",
                        "starting_hole": 1,
                        "starting_hole_label": "A"
                      }
                    ]
                  }
                },
                "dates": {
                  "1": {
                    "date": "2020-09-21",
                    "name": "Round 1",
                    "external_id": "1234",
                    "enable_mobile_score_entry": true,
                    "attending_by_default": true
                  }
                },
                "webhooks": {
                  "pairings": {
                    "endpoint": "www.x.com/pairings",
                    "enabled": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Event created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api_v2/events/{event_id}": {
      "put": {
        "tags": [
          "Events"
        ],
        "summary": "Update an Event/League",
        "description": "Updates an existing event.",
        "operationId": "updateEvent",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/eventId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Event updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Events"
        ],
        "summary": "Delete/Archive an Event/League",
        "description": "Soft delete or archive an existing event.",
        "operationId": "deleteEvent",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/eventId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventDeleteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Event deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api_v2/events/{event_id}/rounds": {
      "post": {
        "tags": [
          "Rounds"
        ],
        "summary": "Create an Event Round",
        "description": "Creates a new round for an event.",
        "operationId": "createRound",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/eventId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoundCreateRequest"
              },
              "example": {
                "name": "Round Test",
                "external_id": "1234",
                "date": "2020-09-23",
                "enable_mobile_score_entry": true,
                "attending_by_default": true,
                "show_pairings_in_league_portal": true,
                "playing_divisions": [
                  7059198379011646789,
                  7059198379011646663
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Round created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Round"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api_v2/events/{event_id}/rounds/{round_id}": {
      "put": {
        "tags": [
          "Rounds"
        ],
        "summary": "Update an Event Round",
        "description": "Updates an existing round.",
        "operationId": "updateRound",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/eventId"
          },
          {
            "$ref": "#/components/parameters/roundId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoundUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Round updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Round"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Rounds"
        ],
        "summary": "Delete an Event Round",
        "description": "Deletes a round from an event.",
        "operationId": "deleteRound",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/eventId"
          },
          {
            "$ref": "#/components/parameters/roundId"
          }
        ],
        "responses": {
          "200": {
            "description": "Round deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api_v2/events/{event_id}/divisions": {
      "post": {
        "tags": [
          "Divisions"
        ],
        "summary": "Create an Event Division",
        "description": "Creates a new external division for an event.",
        "operationId": "createDivision",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/eventId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DivisionCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Division created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Division"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api_v2/events/{event_id}/divisions/{division_id}": {
      "put": {
        "tags": [
          "Divisions"
        ],
        "summary": "Update an Event Division",
        "description": "Updates an existing external division.",
        "operationId": "updateDivision",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/eventId"
          },
          {
            "$ref": "#/components/parameters/divisionId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DivisionUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Division updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Division"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Divisions"
        ],
        "summary": "Delete an Event Division",
        "description": "Deletes an external division.",
        "operationId": "deleteDivision",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/eventId"
          },
          {
            "$ref": "#/components/parameters/divisionId"
          }
        ],
        "responses": {
          "200": {
            "description": "Division deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api_v2/events/{event_id}/members": {
      "post": {
        "tags": [
          "Members"
        ],
        "summary": "Create a Member Registration",
        "description": "Registers a new member to an event roster.",
        "operationId": "createMemberRegistration",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/eventId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MemberCreateRequest"
              },
              "example": {
                "external_id": "1234",
                "last_name": "Doe",
                "first_name": "John",
                "email": "john.doe@gmail.com",
                "gender": "M",
                "handicap_index": -5.0,
                "handicap_network_id": "12345678",
                "rounds": [
                  {
                    "round_id": 1694531015551658972,
                    "team_id": 1,
                    "division_id": 2794531013441653808
                  }
                ],
                "custom_fields": {
                  "Affiliation": "None"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Member registered successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api_v2/events/{event_id}/members/{member_id}": {
      "put": {
        "tags": [
          "Members"
        ],
        "summary": "Update a Member Registration",
        "description": "Updates an existing member registration.",
        "operationId": "updateMemberRegistration",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/eventId"
          },
          {
            "$ref": "#/components/parameters/memberId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MemberUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Member updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Members"
        ],
        "summary": "Delete a Member Registration",
        "description": "Removes a member from an event roster.",
        "operationId": "deleteMemberRegistration",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/eventId"
          },
          {
            "$ref": "#/components/parameters/memberId"
          }
        ],
        "responses": {
          "200": {
            "description": "Member removed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api_v2/events/{event_id}/rounds/{round_id}/pairing_groups": {
      "post": {
        "tags": [
          "Pairing Groups"
        ],
        "summary": "Create a Pairing Group",
        "description": "Creates a new pairing group (foursome) for a round tee sheet.",
        "operationId": "createPairingGroup",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/eventId"
          },
          {
            "$ref": "#/components/parameters/roundId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PairingGroupCreateRequest"
              },
              "example": {
                "players": {
                  "1": {
                    "external_id": "1235",
                    "last_name": "Doe",
                    "first_name": "Jane",
                    "email": "jane.doe@gmail.com",
                    "gender": "F",
                    "handicap_index": -5.0,
                    "handicap_network_id": "12345679",
                    "custom_fields": {
                      "Affiliation": "None"
                    }
                  },
                  "2": {
                    "external_id": "1234",
                    "last_name": "Doe",
                    "first_name": "John",
                    "email": "john.doe@gmail.com",
                    "gender": "M",
                    "handicap_index": 5.0,
                    "handicap_network_id": "12345678"
                  }
                },
                "tee_time": {
                  "time": "8:10 AM",
                  "starting_hole": 1,
                  "starting_hole_label": "A"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pairing group created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api_v2/events/{event_id}/rounds/{round_id}/pairing_groups/{pairing_group_id}": {
      "put": {
        "tags": [
          "Pairing Groups"
        ],
        "summary": "Update a Pairing Group",
        "description": "Updates an existing pairing group.",
        "operationId": "updatePairingGroup",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/eventId"
          },
          {
            "$ref": "#/components/parameters/roundId"
          },
          {
            "$ref": "#/components/parameters/pairingGroupId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PairingGroupUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pairing group updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Pairing Groups"
        ],
        "summary": "Delete a Pairing Group",
        "description": "Removes a pairing group from the tee sheet.",
        "operationId": "deletePairingGroup",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/eventId"
          },
          {
            "$ref": "#/components/parameters/roundId"
          },
          {
            "$ref": "#/components/parameters/pairingGroupId"
          }
        ],
        "responses": {
          "200": {
            "description": "Pairing group deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  }
}